.sapMListTblCell {
    border-right: 1px solid lightgray !important;
    border-top: 1px solid lightgray !important;
}

/*Zebra*/
.bell-row tr:nth-child(even) {
    background-color: #E4E4E4;
}

/*Color cuando se selecciona una línea*/
.sapMLIB.sapMLIBSelected {
	background-color: #FFBB33 !important;
}